<footer class="footer bg-dark text-light text-center" style="background-color: #0789ed;padding: 20px; margin-top: 50px;">
    <div class="container">
        <span>© Todos los derechos reservados por Colegio patrio 2024</span>
    </div>
</footer>