<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div>
            <div class="navbar-nav">
                <a href="#" class="nav-link">Acerca de</a>
                <a href="#" class="nav-link">Pago</a>
                <a href="#" class="nav-link">Contacto</a>
            </div>
        </div>
    </div>
</nav>