<%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="formulario" action="/salida" method="post">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="numDocente" placeholder="Numero de Docente" pattern="[0-9]+" title="Por favor, introduce solo números" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="domicilio" placeholder="Domicilio" required>
                        </div>
                        <div class="mb-3">
                            <select id="nivel" class="form-select" name="nivel" required>
                                <option value="">Seleccione el Nivel</option>
                                <option value="1">Licenciatura o Ingeniería</option>
                                <option value="2">Maestro en Ciencias</option>
                                <option value="3">Doctor</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="number" id="pagoBase" class="form-control" name="pagoBase" placeholder="Pago Hora Base" required>
                        </div>
                        <div class="mb-3">
                            <input type="number" id="horas" class="form-control" name="horas" placeholder="Horas Impartidas" required>
                        </div>
                        <div class="mb-3">
                            <select id="numHijos" class="form-select" name="numHijos" required>
                                <option value="">Numero de Hijos</option>
                                <option value="1">1 o 2</option>
                                <option value="2">3 a 5</option>
                                <option value="3">Mas de 5</option>
                            </select>
                        </div>
                        
                        <button type="submit" class="btn btn-primary mr-2">Calcular</button>
                        <button type="reset" class="btn btn-secondary">Limpiar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%-include('partials/footer.ejs')%>
    </body>
</html>