<%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div>
                        <strong>Nombre:</strong> <p><%= nombre %></p>
                    </div>
                    <div>
                        <strong>Pago por Hora Base:</strong> <p><%= pagoBase %></p>
                    </div>
                    <div>
                        <strong>Pago por Bono:</strong> <p><%= pagoBono %></p>
                    </div>
                    <div>
                        <strong>Impuesto:</strong> <p><%= impuesto %></p>
                    </div>
                    <div>
                        <strong>Total:</strong> <p><%= total %></p>
                    </div>
                </div>
                <button type="button" onclick="window.location.href='/'" class="btn btn-primary custom-btn">CALCULAR NUEVO</button>
              <style>
                .custom-btn {
                font-size: 14px;
                padding: 8px 5px; /* Ajusta el padding según sea necesario */
                
                 }

              </style>
 
            </div>
        </div>
    </section>
    
    <%-include('partials/footer.ejs')%>
    </body>
</html>